#container {
	width: 800px;
	height: 400px;
	border: 1px solid rgba(0, 0, 0, 0.43);
	border-radius: 10px;
	position: 'relative';
}

body, html {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
