* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

#container {
	background-color: grey;
}

.passenger {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	background-color: black;
}

.sex.male {
	background-color: red;
}

.sex.female {
	background-color: blue;
}
